<div>
    <h1>Últimos Movimientos</h1>
    <table class="table">
        <thead>
            <th>Fecha</th>
            <th style="width: 20%;">Operación</th>
            <th style="width: 20%;">Monto</th>
            <th style="width: 10%;">N° de cuenta</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of movimientos">
                <td>{{hoy|date: "dd/MM/yy, hh:mm"}}</td>
                <td>{{item.operacion}}</td>
                <td>{{item.monto|currency}}</td>
                <td>{{item.numeroDeCuenta}}</td>
            </tr>
        </tbody>
    </table>
    </div>
