<div class="container bordery">
  <h1 class="row justify-content-center white-text">¡Bienvenido!</h1>
  <div class="row justify-content-around">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h4>Tu saldo en ARS</h4>
        </div>
        <div class="card-body">
          <h5><i class="bi bi-currency-dollar"></i>{{ saldos[0].saldo }}</h5>
          <a  routerLink="/movimientos-ars" class="btn btn-info"
            >Últimos movimientos</a
          >
        </div>
      </div>
    </div>
    <div class="col-3">
<img src="assets/img/bitcoin.webp" alt="imagen del símbolo de bitcoin" class="responsive">
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h4>Tu saldo en BTC</h4>
        </div>
        <div class="card-body">
          <h5><i class="bi bi-currency-bitcoin"></i>{{ saldos[1].saldo }}</h5>
          <a
          
            routerLink="/movimientos-btc"
            class="btn btn-info"
            style="--bs-btn-color: black"
            >Últimos movimientos</a
          >
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
    <div class="row box justify-content-around">
      <a href="/retiro" routerLink="/retiro" class="btn btn-info btn-block col-md-4 col-lg-2">Retirá</a>
      <a href="/deposito" routerLink="/deposito" class="btn btn-info btn-block col-md-4 col-lg-2">Depositá</a>
    </div>

</div>
