.loginPage{
    background-image: url('https://img.freepik.com/free-vector/bank-login-concept-illustration_114360-7964.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}