<div class="container">
    <div class="border border rounded-3 shadow p-3 mt-3 mb-3">
        <h3>Retirar Dinero</h3>
        <form action="#">
            <div>
                <label for="amountCash">Importe:</label>
                <input type="text" class="form-control mb-3" id="amountCash">
            </div>
            <div>
                <label for="selectOp">Enviar a:</label>
                <select class="form-select" aria-label="Default select example" id="selectOp">
                    <option selected>Seleccionar</option>
                    <option value="1">Cuenta Bancaria</option>
                    <option value="2">PayPal</option>
                    <option value="3">Otra Wallet</option>
                </select>

                <div class="d-none">
                    test!
                </div>
            </div>
        </form>
    </div>
</div>
