* {
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
    border-radius: 7px;
    border-collapse: collapse;
}

th {
    background-color: #062233;
    text-align: left;
    color: rgb(253, 246, 246);
}

table {
    width: 100%;
}

th,
td {
    padding: 10px;
}

tr {
    border-bottom: 1px solid rgb(211, 211, 211);
}

td {
    background-color: rgb(233, 230, 230);
}

h1 {
    text-align: center;
}
