<div [ngSwitch]="movimiento">
  <h1 *ngSwitchCase="3">Detalles del movimiento</h1>
  <table *ngSwitchCase="3" class="container">
    <thead>
      <th colspan="2">
        Caja de ahorro en {{ movimientosEnBTC[1].moneda }} ({{
          movimientosEnBTC[1].numeroDeCuenta
        }})
      </th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Monto</strong></td>
        <td>
          {{ movimientosEnBTC[1].monto | currency }} {{ movimientosEnBTC[1].moneda }}
        </td>
      </tr>
      <tr>
        <td><strong>N° de comprobante</strong></td>
        <td>{{ movimientosEnBTC[1].comprobante }}</td>
      </tr>
      <tr>
        <td><strong>Concepto</strong></td>
        <td>{{ movimientosEnBTC[1].concepto }}</td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td>{{ movimientosEnBTC[1].operacion }}</td>
      </tr>
      <tr>
        <td><strong>Fecha</strong></td>
        <td>{{ hoy | date: "dd/MM/yy, hh:mm" }}</td>
      </tr>
    </tbody>
  </table>
  <a *ngSwitchCase="3" [routerLink]="['/movimientos', 'BTC']" class="btn btn-info ">Volver</a>
</div>

<div [ngSwitch]="movimiento">
  <h1 *ngSwitchCase="2">Detalles del movimiento</h1>
  <table *ngSwitchCase="2" class="container">
    <thead>
      <th colspan="2">
        Caja de ahorro en {{ movimientosEnARS[1].moneda }} ({{
          movimientosEnARS[1].numeroDeCuenta
        }})
      </th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Monto</strong></td>
        <td>
          {{ movimientosEnARS[1].monto | currency }} {{ movimientosEnARS[1].moneda }}
        </td>
      </tr>
      <tr>
        <td><strong>N° de comprobante</strong></td>
        <td>{{ movimientosEnARS[1].comprobante }}</td>
      </tr>
      <tr>
        <td><strong>Concepto</strong></td>
        <td>{{ movimientosEnARS[1].concepto }}</td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td>{{ movimientosEnARS[1].operacion }}</td>
      </tr>
      <tr>
        <td><strong>Fecha</strong></td>
        <td>{{ hoy | date: "dd/MM/yy, hh:mm" }}</td>
      </tr>
    </tbody>
  </table>
  <a *ngSwitchCase="2" [routerLink]="['/movimientos', 'ARS']" class="btn btn-info ">Volver</a>
</div>

<div [ngSwitch]="movimiento">
  <h1 *ngSwitchCase="1">Detalles del movimiento</h1>
  <table *ngSwitchCase="1" class="container">
    <thead>
      <th colspan="2">
        Caja de ahorro en {{ movimientosEnBTC[1].moneda }} ({{
          movimientosEnBTC[0].numeroDeCuenta
        }})
      </th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Monto</strong></td>
        <td>
          {{ movimientosEnBTC[0].monto | currency }} {{ movimientosEnBTC[0].moneda }}
        </td>
      </tr>
      <tr>
        <td><strong>N° de comprobante</strong></td>
        <td>{{ movimientosEnBTC[0].comprobante }}</td>
      </tr>
      <tr>
        <td><strong>Concepto</strong></td>
        <td>{{ movimientosEnBTC[0].concepto }}</td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td>{{ movimientosEnBTC[0].operacion }}</td>
      </tr>
      <tr>
        <td><strong>Fecha</strong></td>
        <td>{{ hoy | date: "dd/MM/yy, hh:mm" }}</td>
      </tr>
    </tbody>
</table>
<a *ngSwitchCase="1" [routerLink]="['/movimientos', 'BTC']" class="btn btn-info ">Volver</a>
</div>
<div [ngSwitch]="movimiento">
  <h1 *ngSwitchCase="0">Detalles del movimiento</h1>
  <table *ngSwitchCase="0" class="container">
    <thead>
      <th colspan="2">
        Caja de ahorro en {{ movimientosEnARS[0].moneda }} ({{
          movimientosEnARS[0].numeroDeCuenta
        }})
      </th>
    </thead>
    <tbody>
      <tr>
        <td><strong>Monto</strong></td>
        <td>
          {{ movimientosEnARS[0].monto | currency }} {{ movimientosEnARS[0].moneda }}
        </td>
      </tr>
      <tr>
        <td><strong>N° de comprobante</strong></td>
        <td>{{ movimientosEnARS[0].comprobante }}</td>
      </tr>
      <tr>
        <td><strong>Concepto</strong></td>
        <td>{{ movimientosEnARS[0].concepto }}</td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td>{{ movimientosEnARS[0].operacion }}</td>
      </tr>
      <tr>
        <td><strong>Fecha</strong></td>
        <td>{{ hoy | date: "dd/MM/yy, hh:mm" }}</td>
      </tr>
    </tbody>
  </table>
  <a *ngSwitchCase="0" [routerLink]="['/movimientos', 'ARS']" class="btn btn-info ">Volver</a>
</div>




