<section class="p-5 page-section bg-light" id="team">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">¡Conocé a nuestro equipo!</h2>
      </div>
     <!-- para que esto muestre datos, primero hay que levantar la API en la terminal con "json-server --watch db.json" -->
      <div  class="row"  >
          <div *ngFor="let item of team" class="col-md-4" >
              <div>
                  <img class="rounded-circle img-fluid" [src]="item.imagen" alt="..." />
                  <h4>{{item.name}}</h4>
                  <p class="text-muted">{{item.perfil}}</p>
                  <a class="btn btn-dark btn-social mx-2" href={{item.github}} target="_blank"><i class="bi bi-github"> Nuestro Github</i></a>
                  <br>
                  <br>
              </div>
          </div> 
      </div>
  </div>
</section>
