@charset "UTF-8";
.signupPage {
  background-image: url("../../../assets/img/signup.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.signUpForm{
  height: 850px;
}