.card-text{
  text-align: center;
}
.bordery{
  border-radius: 20px;
  background-color: #1360d3;
}
.white-text{
  color: rgb(253, 253, 253);
}
.box{
  background: #d6f0fa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.responsive {
  max-width: 100%;
  height: auto;
}


